
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    
}


/*===================TITULO==========================*/
#titulo {
  background: #1b2a4e;
}
/*===================TITULO==========================*/



/*===================MENU==========================*/
#whatsapp   {
  font-size: 25px;
  padding: 0 8px;
  color: green; 
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
#whatsapp:hover
{
 color: black;
}


/*===================YO==========================*/
.yo:hover {
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,.15);
  border-radius: 50%;
}

#programer{
  position:relative;
  top:40%;
  left:-40%; 
}

#foto {
  border-radius: 50%;
  width: 100px;
}

.foto:hover {
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,.15);
  cursor: pointer;
}

/*===================YO==========================*/


/*===================SKILS==========================*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 1px;
    padding: 1px;
  }
  body {
    background: #fff;
  }
  ul#rtl_func {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: auto;
    padding: 0 1px;
    list-style: none;
  }
  ul#rtl_func > li {
    font-family: 'segoe ui', sans-serif;
    margin: 1px 0;
    min-width: 0%;
    padding: 2px 10px;
    transition: box-shadow .25s ease;
  }
  ul#rtl_func > li:hover {
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,.15);
    cursor: default;
  }
  ul#rtl_func > li > ul > li {
    list-style: none;
    font-weight: normal;
  }
  ul#rtl_func > li > ul > li:first-of-type {
    
    margin-top: 1px;
  }

/*===================SKILS==========================*/  


/*===================SLIDER DE IMAGENES==========================*/

#img-equipo{
    max-height:30rem !important;
    width:50%;
}

/*===================MAPA==========================*/
#local {
    margin-top:50px;
    background-color: #f3f3f3;
    display:flex;
    justify-content: center; 
    padding-bottom: 300px; 
}

.wrapper-local {
    width:50%;
    margin-left:100px;
    padding-top:150px;
}
/*===================MAPA==========================*/


/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
    position:relative;
    top: -130px;
} 

 #seccion-contacto{
    background-color: #1b2a4e;
    min-height:500px;
    position:relative;
}

/*=========================CAMBIAR IMAGEN================================*/
#imagen
{
  transition: box-shadow 0.3s ease;
  background-color: white;
  margin: 20px 0;
  border-radius: 0.5rem;
  padding: 0.25rem 0;
  cursor: pointer;
}
#imagen:hover
{
  box-shadow: 5px 0.1rem 0.4rem rgba(0, 0, 0, 5);
}
/*=========================CAMBIAR IMAGEN================================*/



/*=========================REDES SOCIALES================================*/

#iconost  i {
    font-size: 25px;
    padding: 0 1px;
    color: black; 
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }

  
  #gm :hover
  {
  color: orangered;

  }

  #fb :hover
  {
  color: #385898;
  }
  
  
  #tw :hover
  {
  color: rgb(0, 217, 255);
  }
  
  
  #in :hover
  {
  color: rgb(225,48,108);
  }
   
  
  #lk :hover
  {
  color: #0e76a8;
  }
  
  
  
  #gh :hover
  {
  color: rgb(252,175,69);
  }

  #ws :hover
  {
  color: rgb(7, 133, 91);
  }

  #up :hover
  {
  color: rgb(145, 136, 14);
  }
  
/*=========================REDES SOCIALES================================*/





/*===========TEMPERATURAS====================*/
* {
  font-family: 'Montserrat', sans-serif;
  ;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#contenedor {
  position: relative;
  display: flex;
}

#caja1, #caja2, #caja3 {
  padding-bottom: 100fr;
}


#numeros-local{
  margin:0 !important;
  padding:0 !important;
}
#numeros-local div {
  padding: 0 5px 0 0;   
  text-align:left;
  height:80px;
}

#numeros-local div:not(:last-child) {
  border-right: 2px solid #3f3f3f;
}
#numeros-local div:not(:first-child) {
  padding-left:10px;
}

#numeros-local p{
  margin:0;
}


/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
  position:absolute;
  top:26%;
  left:50%;
  transform: translate(-50%, -50%);
  background: #fbfafa;
  border-radius:5px;
}

#titulo-formulario {
  color: #0a0a0a;
}

#contenedor-formulario:hover
{
box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 3);
}


#up {
  position: absolute;
  margin-left: 150px;
  margin-top: 10px;
}

/*=========================FOOTER================================*/

footer {
  background: #1b2a4e;
  min-height: 100px;;
}
footer p  {
  color:#f3f3f3;
  text-align:center;
}
/*=========================FOOTER================================*/





/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
  #intro, #equipo {
      width:90% !important;
      margin:auto;
  }

  #local {
      flex-wrap: wrap;
      padding-top:30px;
 }
 .wrapper-local {
  width:90%;
  margin:auto;
  padding-top:50px;    
 }

}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

  #intro, #equipo{
      width:90% !important;
      margin:auto;
  }

  
  #img-equipo{
      max-height:20rem !important;
      width:90%;
  }
  .wrapper-local {
      width:90%;
      margin:auto;
      padding-top:50px;    
  }
  #local {
      flex-wrap: wrap;
  }
  .mapa img {
      width:90%;
      height:auto;
  }
  #bg-contactos{
      top: -120px;
  }

}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
  


  .icono-wrap{
      flex-wrap:wrap !important;
      justify-content: center !important;
      text-align: center;
  }
}

/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/





