.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  height: 100%;
}


#yo {
  border-radius: 50%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: white 2px solid;
}

#minombre {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: -150px;
}
#frase, #pais, #reloj {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ubiyban {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -120px;

}

#ubicacion {
  width: 40px;
  margin-top: 70px;
}

#bandera {
  width: 40px;
  margin-top: 70px; 
  margin-left: 90px;
}

#programador {
  width: 100px;
  margin-left: 40px;
  margin-top: 70px;
}

#programer {
  width: 100px;
}

#comentario {
  margin: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

li, a {
  list-style: none;
  text-decoration: none
}

.nav-item, #link {
  border-radius: 10px;
  padding-left: 5px;
  margin:  0px 5px ;
  width: 130px;
  list-style: none;
  text-decoration: none;
  color: white;
}

#inicio {
  border-radius: 10px;
  padding-left: 5px;
  margin:  0px 5px ;
  width: 120px;
  list-style: none;
  text-decoration: none;
  color: white;
}




#skills {
  width: 400px;
  padding: 10px;
  border: white solid 1px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#titulo_0, #titulo_1 {
  border: 1px solid white;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#texto_0, #texto_1 {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#equipo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px auto;
}


.form {
  width: 350px;
  margin: auto;
  padding: 60px 30px;
  border: 1px solid white;
  border-radius: 10px;
}

#mensaje, #nombre,
#email, #telefono {
  border: 1px solid aqua;
}

.boton {
  width: 100px;
  margin: 10px;
  margin-left: 15%;
  margin-top: 10px;
}

#button {
  width: 200px;
  border: 1px solid white;
}

#alerta {
  margin-left: 0%;
  background-color: bisque;
  width: 200px;
  height: 40px;
  padding: 5px 20px;
  font-size: 18px;
  border: 1px solid aqua;
  column-rule-color: black;
}


i {
  padding: 6px;
}

#gm, #fb, #tw, #ws, #in, #lk, #gh {
  color: white;
}

#gm:hover {
  color: red;
}

#fb:hover {
  color: #3b5998;
}

#tw:hover{
  color: aqua;
}

#ws:hover {
  color: #00bb2d;
}

#in:hover{
  color: #405DE6;
}

#lk:hover{
  color: #0e76a8;
}

#gh:hover{
  color:  #171515;
}



@media (min-width: 300px) {
  .App-header {
  }
  #programador {
    width: 100px;
    margin-left: 40px;
    margin-top: 100px;
  }
  #paise {
    margin: auto;
  }

  #programer {
    width: 50px;
    margin: 10px 1px;
  }
  
  #comentario {
    margin: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #skills {
    width: 330px;
    padding: 10px;
    border: white solid 1px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #texto_0, #texto_1 {
    padding: 0px 40px ;
  }
  #titulo_0, #titulo_1 {
    width: 350px;
    margin: 10px auto;
    border-radius: 10px;
  }
  #equipo {
    width: 330px;
    margin-left: 20px;
  }

  .infor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }

  #mapa {
    margin: auto;
    margin-left: 40px;
    height: 160px;
    
  }
  #map {
    border-radius: 10px;
    border: 1px solid white;
  }

  #city {
    margin: 5px auto;
    width: 350px;
  }
  
  .RedesSociales {
    margin: 0px auto;
    font-size: 18px;
  }
  
  #contenedorcity {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
  }
  #temporal {
    margin: 5px auto;
    border-radius: 10px;
    padding-left: 5px;
    height: 180px;
    width: 240px;
    border: 1px solid white;
  }
  #stack {
    margin: 5px auto;
    width: 350px;
  }

  #stac {
    margin: auto;
    width: 350px;
    border-radius: 10px;
  }
  #ubi {
    width: 280px;
    margin: 5px 2px;
  }

  #temp {
    width: 230px;
  }

  #cli {
    width: 210px;
    margin: 5px 2px;
  }

  #log {
    margin:  10px auto;
    margin-left: 90px;
  }

  #stack:hover,
  #temporal:hover,
  #map:hover,
  #skills:hover,
  #yo:hover, .form:hover
   {
    box-shadow: 0px 0px 20px 5px rgba(224, 219, 219, 0.15);
  }

  #derechos_1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #derechos_2 {
    margin-top: -20px;
  }

  #link:hover {
    background-color: #3b5998;
    border-radius: 10px;
    transition: 2s ease-out;
  } 
  #inicio:hover {
    background-color: #3b5998;
    border-radius: 10px;
    transition: 2s ease-out; 
  } 
}




@media (min-width: 600px) {
  .App-header {
    
  }
  #skills {
    width: 330px;
    padding: 10px;
    border: white solid 1px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #texto_0, #texto_1 {
    padding: 0px 40px ;
  }
  #titulo_0, #titulo_1 {
    width: 350px;
    margin: 10px auto;
    border-radius: 10px;
  }
  #equipo {
    width: 400px;
    margin: auto;
  }
  .infor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }
 
  #mapa {
    margin: 0px auto;
    height: 260px;
    border-radius: 10px;
  }

  #city {
    margin: 60px auto;
    width: 400px;
  }
  
  .RedesSociales {
    margin: 20px auto;
    margin-bottom: 10px;
    font-size: 18px;
  }

  
  #contenedorcity {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #temporal {
    margin: 10px auto;
    border-radius: 10px;
    padding-left: 5px;
    height: 180px;
    width: 240px;
    border: 1px solid white;
    margin-top: -40px;
  }


  #stack {
    width: 400px;
    border-radius: 10px;
    margin: auto;
  }

  #stac {
    width: 400px;
    border-radius: 10px
  } 

  #ubi {
    margin: auto;
    width: 280px;
    margin: 5px 2px;
  }

  #temp {
    width: 230px;
  }

  #cli {
    width: 210px;
    margin: 5px 2px;
  }

  #log {
    margin:  10px auto;
    margin-left: 90px;
  }

  #derechos {
    height: 80px;
    margin:  0px auto;
  } 
 
  .iconos {
    margin-top: 100px;
    margin: auto;
    height: 30px;
  }
  #stack:hover,
  #temporal:hover,
  #map:hover,
  #skills:hover,
  #yo:hover, .form:hover
   {
    box-shadow: 0px 0px 20px 5px rgba(224, 219, 219, 0.15);
  }
  #link:hover {
    background-color: #3b5998;
    border-radius: 10px;
    transition: 2s ease-out;
  } 
  #inicio:hover {
    background-color: #3b5998;
    border-radius: 10px;
    transition: 2s ease-out; 
  } 
}




@media (min-width: 1200px) {
  .App-header {

  }
  #texto_0, #texto_1 {
    padding: 0px 200px ;
  }
  #titulo_0, #titulo_1 {
    width: 350px;
    margin: 10px auto;
    border-radius: 10px;
  }
  #equipo {
    width: 500px;
    margin: auto;
  }
  #programador {
    margin-left: 200px;
  }

  .infor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }

  #map {
    height: 260px;
    width: 400px;
  }

  #mapa {
    margin: auto;
    margin-left: 40px;
    height: 260px;
    border-radius: 10px;
  }

  #city {
    margin: 10px auto;
    width: 500px;
  }
  
  .RedesSociales {
    margin: 0px auto;
    font-size: 18px;
  }
  
  #contenedorcity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
  }
  #temporal {
    margin: auto;
    border-radius: 10px;
    padding-left: 5px;
    height: 180px;
    
    width: 240px;
  }

  #stac {
    width: 400px;
    border-radius: 10px;
  }

  #ubi {
    width: 280px;
    margin: 5px 2px;
  }

  #temp {
    width: 230px;
  }

  #cli {
    width: 210px;
    margin: 5px 2px;
  }

  #log {
    margin:  10px auto;
    margin-left: 90px;
  }

  #derechos {
    height: 80px;
    margin: auto;
  } 
 
  .iconos {
    margin-top: 100px;
    margin: auto;
    height: 30px;
  }

  #stack:hover,
  #temporal:hover,
  #mapa:hover,
  #skills:hover,
  #yo:hover, .form:hover
   {
    box-shadow: 0px 0px 20px 5px rgba(224, 219, 219, 0.15);
  }

  #link:hover {
    background-color: #3b5998;
    border-radius: 10px;
    transition: 2s ease-out;
  } 
  #inicio:hover {
    background-color: #3b5998;
    border-radius: 10px;
    transition: 2s ease-out; 
  } 
}
